@charset "utf-8";
/* CSS Document */

body{
	text-align:center;
	background-image:url(images/texture.jpg);
	background-size:contain;
}

#field { 
	background-image: url(images/field.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:contain;
	
}

#score {
	position: fixed ;
	top: 50px;
	left: 20px;
	z-index: 99;
	
	text-align:center;
	font-style:italic;
	font-family:Georgia, "Times New Roman", Times, serif;
}

.scores{
	width:auto;
}